<h1>Your Beers</h1>

<div class="beer-list">
  <ul>
    <% @beers.each do |beer| %>
      <li><a href='/beers/<%= beer.id %>'><%= beer.name %></a></li>
      <li><%= button_to 'Update', edit_beer_path(beer.id), method: :get %></li>
    <% end %>
  </ul>
</div>

<div class="no-beers-added">
  <% if @beers == [] %>
    <h3>You haven't added any beers yet!</h3>
  <% end %>
</div>
